{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Lab4</title>
        {% include "lab4.html" %}
        <style>
            td {
                word-wrap: break-word;
                text-align: center;
                max-width: 100px;
            }
        </style>
    </head>
    <body>
        <div class="bg-primary text-center text-light">
            <h3>List of Notes</h3>
        </div>
        <br>
        <div class="container-fluid">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="table-primary text-center">
                        <th scope="col" class="text-light bg-primary">To</th>
                        <th scope="col" class="text-light bg-primary">Form</th>
                        <th scope="col" class="text-light bg-primary">Title</th>
                        <th scope="col" class="text-light bg-primary">Message</th>
                    </tr>
                </thead>
                <tbody>
                    {% if notes %} 
                        {% for note in notes %}
                            <tr>
                                <td>{{ note.To }}</td>
                                <td>{{ note.From }}</td>
                                <td>{{ note.Title }}</td>
                                <td style="max-width: 500px;">{{ note.Message }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </body>
    <br>
    <foot>
        <center class="text-light bg-primary">&copy; Muhammad Damar Kusumo</center>
    </foot>
</html>