{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Lab4</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-2 mb-3 border-bottom">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/lab-4/add">Add Notes</a></li>
                    <li class="nav-item"><a class="nav-link" href="/lab-4/">List Notes</a></li>
                    <li class="nav-item"><a class="nav-link" href="/lab-4/note-list">Card Views</a></li>
                </ul>
            </header>
        </div>
    </body>
</html>