<!DOCTYPE html>
<html lang="en"">
    <head>
        <meta charset="UTF-8" />
        <title>Add Notes</title>
        {% include "lab4.html" %}
    </head>
    <body>
        <div class="bg-primary text-center text-light">
            <h3>Write Your Notes</h3>
        </div>
        <div class="container">
        <div class="form-group"">
            <form action="" method="POST" > 
                {% csrf_token %}
                <div class="row">
                    <div class="col">To: {{ form.To }}</div>
                    <div class="col">From: {{ form.From }}</div>
                </div>
                <div class="row">
                    <div class="col">Title: {{ form.Title }}</div>
                </div>
                <div class="row">
                    <div class="col">Message: {{ form.Message }}</div>
                </div>
                <br>
                <center><input class="btn btn-primary btn-lg" type="submit" value="Save"></center>
            </form>
        </div>
        </div>
    </body>
    <foot>
        <br>
        <center class="text-light bg-primary">&copy; Muhammad Damar Kusumo</center>
    </foot>
</html>
