<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note List</title>
    {% include "lab4.html" %}
  </head>
  <body>
    <div class="bg-primary text-center text-light">
      <h3>Card Views</h3>
    </div>
    <br>
    <div class="container">
      <div class="card-columns">
        {% if notes %} 
          {% for note in notes %}
            <div class="card" style="width: 20rem;">
              <div class="card-header bg-primary text-center text-light">{{note.Title}}</div>
              <div class="card-body">{{note.Message}}</div>
              <div class="card-footer">
                To: {{note.To}} | From: {{note.From}}
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </body>
  <foot>
    <br>
    <center class="text-light bg-primary">&copy; Muhammad Damar Kusumo</center>
  </foot>
</html>
