<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add Friend</title>
  </head>
  <body>
    <center>
      <h3> Form Add Friend </h3>
      <form action="" method="POST"> 
          {% csrf_token %}
          <p>Name: {{form.name}}</p>
          <p>NPM: {{form.npm}}</p>
          <p>Date of Birth: {{form.dob}}</p>
          <input type="submit" value="Save">
      </form>
    </center>
  </body>
</html>
