<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note List</title>
    <style>
      table {
        width:50%;
      }
      td {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <center>
      <h3> List of Notes </h3>
      <table border="3">
        <tr>
          <th>To</th>
          <th>From</th>
          <th>Title</th>
          <th>Message</th>
        </tr>
      
        {% if notes %} 
          {% for note in notes %}
            <tr>
              <td>{{ note.To }}</td>
              <td>{{ note.From }}</td>
              <td>{{ note.Title }}</td>
              <td>{{ note.Message }}</td>
            </tr>
          {% endfor %}
        {% endif %}
      
      </table>
    </center>
  </body>
</html>
