<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    <style>
      table {
        width:50%;
      }
      td {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <center>
      <h3> List of Friends </h3>
      <table border="1">
        <tr>
          <th>Name</th>
          <th>NPM</th>
          <th>DOB</th>
        </tr>
        <!-- TODO loop from Friend model (Done) --> 
        {% if friends %} 
          {% for friend in friends %}
            <tr>
              <td>{{ friend.name }}</td>
              <td>{{ friend.npm }}</td>
              <td>{{ friend.dob }}</td>
            </tr>
          {% endfor %}
        {% endif %}
      </table>
    </center>
  </body>
</html>
